<p>
  <strong>Titular:</strong>
  <%= @domiciliacion.titular %>
</p>
 
<p>
  <strong>Direccion:</strong>
  <%= @domiciliacion.direccion %>
</p>

<p>
  <strong>NIF:</strong>
  <%= @domiciliacion.nif %>
</p>

<p>
  <strong>Cuenta Corriente:</strong>
  <%= @domiciliacion.ccc %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @domiciliacion.telefono %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @domiciliacion.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @domiciliacion.fecha_fin %>
</p>

<p>
  <strong>Contrato:</strong>
  <%= @domiciliacion.contrato_id %>
</p>


  <hr width="50%" align="left" noshade>

<%= link_to 'Volver al listado de domiciliaciones', domiciliacions_path %>
