<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @modelos_contadore.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @modelos_contadore.modelo %>
</p>

<%= link_to 'Edit', edit_modelos_contadore_path(@modelos_contadore) %> |
<%= link_to 'Back', modelos_contadores_path %>
