<%= form_for(@tarifa) do |f| %>
  <% if @tarifa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarifa.errors.count, "error") %> prohibited this tarifa from being saved:</h2>

      <ul>
      <% @tarifa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div id="form">

      <div class="field">
        <%= f.label :nombre %><br>
        <%= f.text_area :nombre %>
      </div>
      <div class="field">
        <%= f.label :descripcion %><br>
        <%= f.text_area :descripcion %>
      </div>
      <div class="field">
        <%= f.label :tipo %><br>
        <%= f.text_area :tipo %>
      </div>
      <div class="field">
        <%= f.label :precioBasura %><br>
        <%= f.text_area :precioBasura %>
      </div>
      <div class="field">
        <%= f.label :precioAlquiler %><br>
        <%= f.text_area :precioAlquiler %>
      </div>

      <div class="field">
        <%= f.label :engancheContador %><br>
        <%= f.check_box :engancheContador %>
      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
