<%= form_for(@tarifa) do |f| %>
  <% if @tarifa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarifa.errors.count, "error") %> prohibited this tarifa from being saved:</h2>

      <ul>
      <% @tarifa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <label>Tipo de Tarifa</label>
      <%= collection_select(:tarifa,:tipo_tarifa_id,@tipos,:id,:nombre) %>
    </div>

    <div class="field">
      <%= f.label :precio %><br>
      <%= f.text_field :precio %>
    </div>
    <div class="field">
      <%= f.label :fecha_inicio %><br>
      <%= f.date_select :fecha_inicio, :order => [:day, :year, :month], :use_month_names => ['Enero', 							'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 							'Agosto', 'Septiembre', 'Octubre', 							'Noviembre','Diciembre'] %> 
    </div>
    <div class="field">
      <%= f.label :fecha_fin %><br>
      <%= f.date_select :fecha_fin, :order => [:day, :year, :month], :use_month_names => ['Enero', 							'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 							'Agosto', 'Septiembre', 'Octubre', 							'Noviembre','Diciembre'] %> 
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
