<h1>Tarifas</h1>

<table>
  <thead>
    <tr>
      <th>Importe</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @tarifas.each do |tarifa| %>
      <tr>
        <td><%= tarifa.precio%></td>
        <td><%= tarifa.fecha_inicio%></td>
        <td><%= tarifa.fecha_fin%></td>
        <td><%= link_to 'Show', tarifa %></td>
        <td><%= link_to 'Edit', edit_tarifa_path(tarifa) %></td>
        <td><%= link_to 'Destroy', tarifa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tarifa', new_tarifa_path %>
