<h1>Tarifas</h1>

<table>
  <thead>
    <tr>
      <th>Importe</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @tarifas.each do |tarifa| %>
      <tr>
        <td><%= tarifa.precio%></td>
        <td><%= tarifa.fecha_inicio%></td>
        <td><%= tarifa.fecha_fin%></td>
        <td><%= link_to 'Ver tarifa', tarifa %></td>
        <td><%= link_to 'Editar', edit_tarifa_path(tarifa) %></td>
        <td><%= link_to 'Eliminar', tarifa, method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar la tarifa?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Volver', controller: "tipo_tarifas" %>
<%= link_to 'Nueva Tarifa', new_tarifa_path %>


