<h1>Listing calles</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Zona</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @calles.each do |calle| %>
      <tr>
        <td><%= calle.nombre %></td>
        <td><%= calle.zona %></td>
        <td><%= link_to 'Ver Calle', calle %></td>
        <td><%= link_to 'Editar', edit_calle_path(calle) %></td>
        <td><%= link_to 'Borrar', calle, method: :delete, data: { confirm: 'Estás Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Calle', new_calle_path %> |
<%= link_to 'Inicio', root_path %>
