<%= form_for(@contadore) do |f| %>
  <% if @contadore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contadore.errors.count, "error") %> prohibited this contadore from being saved:</h2>

      <ul>
      <% @contadore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :num_serie %><br>
    <%= f.text_field :num_serie, :required => true %>
  </div>
  <div class="field">
    <%= f.label :calibre %><br>
    <%= f.text_field :calibre, :required => true %>
  </div>
  <div class="field">
    <%= f.label :dt_instalacion %><br>
    <%= f.date_select :dt_instalacion, :order => [:day, :year, :month], :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'] %>
  </div>
  <div class="field">
    <%= f.label :dt_retirada %><br>
    <%= f.date_select :dt_retirada, :order => [:day, :year, :month], :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'] %>
  </div>
  <div class="field">
    <%= f.label :dt_revision %><br>
    <%= f.date_select :dt_revision, :order => [:day, :year, :month], :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'] %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.text_field :estado %>
  </div>

	<div class="field">
    <%= f.label :modelos_contadore %><br>
    <%= collection_select(:contadore, :modelos_contadore_id, ModelosContadore.all, :id, :modelo, :prompt => 'Selecciona Modelo') %>
  </div> 



  <div class="actions">
    <%= f.submit "Aceptar" %>
  </div>
<% end %>
