<h1>Listado de Tipos de Formas de Pago</h1>
<%= link_to 'Nuevo tipo de servicio', new_tipo_forma_pago_path %> 
<table>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
  </tr>
 
  <% @ts.each do |t| %>
    <tr>
      <td><%= t.id %></td>
      <td><%= t.nombre %></td>
      <td><%= link_to 'Ver', t %></td>
      <td><%= link_to 'Editar', edit_tipo_forma_pago_path(t) %></td>
      <td><%= link_to 'Borrar', tipo_forma_pago_path(t),
                    method: :delete, data: { confirm: 'Estás seguro?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Volver al inicio', root_path %>
