<h1 style="text-align: center">LISTA DE FACTURAS</h1>
<div class="CSSTableGenerator" >
<table>

    <tr>
      <td>Descripcion</td>
      <td>Fecha</td>
      <td>Cliente</td>
      <td>Dni</td>
      <td>Detalle</td>
      <td>Domiciliada</td>
      <td>Estado</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>



    <% @facturas.each do |factura| %>
      <tr>
        <td><%= factura.descripcion %></td>
        <td><%= factura.fecha_emision %></td>
        <td><%= factura.nombre_cliente %></td>
        <td><%= factura.dni %></td>
        <td><%= factura.detalle_facturacion %></td>

        <% if factura.domiciliada != true %>
            <td> No </td>
        <% end %>
        <% if factura.domiciliada != false %>
            <td> Sí </td>
        <% end %>

        <% if factura.estado == 0 %>
            <td> Pendiente de emitir </td>
        <% end %>
        <% if factura.estado == 1 %>
            <td> Generada con errores </td>
        <% end %>
        <% if factura.estado == 2 %>
            <td> Emitida </td>
        <% end %>
        <% if factura.estado != 0 and factura.estado != 1 and factura.estado !=2 %>
            <td> Error de estado </td>
        <% end %>

        <td><%= link_to 'Mostrar', facturas_show_factura_path(:factura_id => factura.id) %></td>
        <td><%= link_to 'Ver lineas', factura %></td>
        <td><%= link_to 'Editar', edit_factura_path(factura) %></td>
        <td><%= link_to 'Eliminar', factura, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>

</table>
  <div style="background: #b2b2b2; text-align: center"><%= will_paginate @facturas %></div>
</div>

<br>

<%= link_to 'Crear factura', new_factura_path, {:class => "botonLink"} %>

<a class="botonLink" href="/facturas/buscar-remesa">Buscar remesas</a>
<a class="botonLink" href="/facturas/buscar_factura">Buscar facturas</a>

