<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @inmueble.numero %>
</p>

<p>
  <strong>Piso:</strong>
  <%= @inmueble.piso %>
</p>

<p>
  <strong>Portal:</strong>
  <%= @inmueble.portal %>
</p>

<p>
  <strong>Puerta:</strong>
  <%= @inmueble.puerta %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @inmueble.nombre %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @inmueble.orden %>
</p>

<p>
  <strong>Cod postal:</strong>
  <%= @inmueble.cod_postal %>
</p>

<p>
  <strong>Escalera:</strong>
  <%= @inmueble.escalera %>
</p>

<p>
  <strong>Inmueblescol:</strong>
  <%= @inmueble.inmueblescol %>
</p>

<%= link_to 'Edit', edit_inmueble_path(@inmueble) %> |
<%= link_to 'Back', inmuebles_path %>
