<p id="notice"><%= notice %></p>

<p>
  <strong>Número:</strong>
  <%= @inmueble.numero %>
</p>

<p>
  <strong>Piso:</strong>
  <%= @inmueble.piso %>
</p>

<p>
  <strong>Portal:</strong>
  <%= @inmueble.portal %>
</p>

<p>
  <strong>Puerta:</strong>
  <%= @inmueble.puerta %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @inmueble.nombre %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @inmueble.orden %>
</p>

<p>
  <strong>Código Postal:</strong>
  <%= @inmueble.cod_postal %>
</p>

<p>
  <strong>Escalera:</strong>
  <%= @inmueble.escalera %>
</p>

<p>
  <strong>Inmueblescol:</strong>
  <%= @inmueble.inmueblescol %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @inmueble.calle.nombre %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @inmueble.calle.barrio.nombre %>
</p>

<%= link_to 'Editar', edit_inmueble_path(@inmueble) %> |
<%= link_to 'Back', inmuebles_path %>

<%= link_to 'Editar', edit_modelos_contadore_path(@modelos_contadore) %> |
<%= link_to 'Borrar', @modelos_contadore, method: :delete, data: { confirm: '¿Estas seguro?' } %> |
<%= link_to 'Todos los Modelos', modelos_contadores_path %> |
<%= link_to 'Inicio', root_path %>
