<h1>Listado de Barrios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @barrios.each do |barrio| %>
      <tr>
        <td><%= barrio.nombre %></td>
        <td><%= link_to 'Ver Barrio', barrio %></td>
        <td><%= link_to 'Editar', edit_barrio_path(barrio) %></td>
        <td><%= link_to 'Borrar', barrio, method: :delete, data: { confirm: '¿Estás Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Barrio', new_barrio_path %> |
<%= link_to 'Inicio', root_path %>
