<!doctype html>
<html>
    <head>
        <title>INICIO</title>
    </head>
    <body>
        <section id="seccion">
            <article>
               <div id="contadores">
						<fieldset>						
							<legend>Contadores</legend>
							<ul>
								<li><%= link_to 'Listar', controller: "contadores" %></li>
								<li><%= link_to 'Crear', new_contadore_path %></li>
							</ul>
						</fieldset>
					</div>
               <div id="model_contadores">
						<fieldset>						
							<legend>Modelos de Contadores</legend>
							<ul>
								<li><%= link_to 'Listar', controller: "modelos_contadores" %></li>
								<li><%= link_to 'Crear', new_modelos_contadore_path %></li>
							</ul>
						</fieldset>
					</div>
               <div id="inmuebles">
						<fieldset>						
							<legend>Inmuebles</legend>
							<ul>
								<li><%= link_to 'Listar', controller: "inmuebles" %></li>
								<li><%= link_to 'Crear', new_inmueble_path %></li>
							</ul>
						</fieldset>
					</div>
               <div id="barrios">
						<fieldset>						
							<legend>Barrios</legend>
							<ul>
								<li><%= link_to 'Listar', controller: "barrios" %></li>
								<li><%= link_to 'Crear', new_barrio_path %></li>
							</ul>
						</fieldset>
					</div>
               <div id="calles">
						<fieldset>						
							<legend>Calles</legend>
							<ul>
								<li><%= link_to 'Listar', controller: "calles" %></li>
								<li><%= link_to 'Crear', new_calle_path %></li>
							</ul>
						</fieldset>
					</div>
            </article>
        </section>
        <section id="seccion">
            <article>
               <div id="abonados">
                        <fieldset>                      
                            <legend>Abonados</legend>
                            <ul>
                                <li><%= link_to 'Listar', controller: "abonados" %></li>
                                <li><%= link_to 'Crear', new_abonado_path %></li>
                            </ul>
                        </fieldset>
                    </div>
            </article>
        </section>
        <section id="seccion">
            <article>
               <div id="domiciliaciones">
                        <fieldset>                      
                            <legend>Domiciliaciones</legend>
                            <ul>
                                <li><%= link_to 'Listar', controller: "domiciliacions" %></li>
                                <li><%= link_to 'Crear', new_domiciliacion_path %></li>
                            </ul>
                        </fieldset>
                    </div>
            </article>
        </section>
        <section id="lecturas">
            <article>
               <div id="lecturas">
                        <fieldset>                      
                            <legend>Lecturas</legend>
                            <ul>
                                <li><%= link_to 'Listar', controller: "lecturas" %></li>
                                <li><%= link_to 'Crear', new_lectura_path %></li>
                            </ul>
                        </fieldset>
                    </div>
            </article>
        </section>
    </body>
</html>
