   <h1>Lista de lecturas realizadas</h1>
   <%= link_to 'Crear nueva entrada', new_lectura_path %> <br>
   <a onClick="toggleFilterForm()">Filtrar resultados &gt;&gt;</a>
   <table id="filter_form">
      <tr>
      <td class="field">
         <div class="label">Id. contador</div>
         <input type="text" name="contadores_id">
      </td>
      <td class="field">
         <div class="label">Tipo incidencia</div>
         <input type="text" name="tincidencias_id">
      </td>
      <td><input id="filter_form_button" type="Button" value="Buscar" onClick="" disabled></td>
      </tr>
   </div>
   <table id="datatable">
      <thead>
         <th>Id</th>
         <th>Lectura</th>
         <th>Fecha</th>
         <th>Lectura anterior</th>
         <th>Id. contador</th>
         <th>Tipo incidencia</th>
         <th>Incidencia</th>
         <th></th>
         <th></th>
      </thead>
      <tbody>
         <% @lecturas.each do |lectura| %>
         <tr>
            <td class="id"><%= link_to lectura.id, lectura %></td>
            <td class="lectura"><%= lectura.lectura %></td>
            <td class="fecha"><%= lectura.fecha %></td>
            <td class="lectura_anterior"><%= lectura.lectura_anterior %></td>
            
            <td class="contadores_id"><%= lectura.contadores_id %></td>
            <td class="tincidencias_id"><%= lectura.tincidencias_id %></td>
            <td class="incidencia"><%= lectura.incidencia %></td>
            <!-- <td><%= link_to 'Editar', edit_lectura_path(lectura) %></td> -->
            <td>Editar</td>
            <td><%= link_to 'Borrar', lectura_path(lectura),
                    method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
         </tr>
         <% end %>
      </tbody>
   </table>
   
   <%= link_to 'Atrás', root_path %>
