<h1>Mostrando lectura con ID:<%= @lectura.id %></h1>
<table>
   <tbody>
   <tr><td><strong>Lectura</strong></td><td><%= @lectura.lectura %></td></tr>
   <tr><td><strong>Fecha</strong></td><td><%= @lectura.fecha %></td></tr>
   <tr><td><strong>Lectura anterior</strong></td><td><%= @lectura.lectura_anterior %></td></tr>
   <tr><td><strong>Id. contador</strong></td><td><%= @lectura.contadores_id %></td></tr>
   <tr><td><strong>Tipo de incidencia</strong></td><td><%= @lectura.tipo_incidencias_id %></td></tr>
   <tr><td><strong>Incidencia</strong></td><td><%= @lectura.incidencia %></td></tr>
   </tbody>
</table>

<%= link_to 'Atrás', lecturas_path %>
<<<<<<< Upstream, based on origin/lecturas-dev
