<h1>LINEAS DE FACTURA</h1>
<div class="CSSTableGenerator">
<table>
    <tr>
      <td>Numero</td>
      <td>Descripcion</td>
      <td></td>
      <td></td>
    </tr>
    <% @factura.linea_facturas.each do |linea_factura| %>
      <tr>
        <td><%= linea_factura.numero %></td>
        <td><%= linea_factura.descripcion %></td>
        <td><%= link_to 'Edit', edit_linea_factura_path(linea_factura) %></td>
        <td><%= link_to 'Destroy', linea_factura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>
</div>
<br>

<%= link_to 'Back', facturas_path %>
