<%= form_for(@tipo_tarifa) do |f| %>
  <% if @tipo_tarifa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_tarifa.errors.count, "error") %> prohibited this tipo_tarifa from being saved:</h2>

      <ul>
      <% @tipo_tarifa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre %>
    </div>
    <div class="field">
      <%= f.label :descripcion %><br>
      <%= f.text_area :descripcion %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
