<h1>Tipos de tarifas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Tipo de Servicio</th>
      <th colspan="3"> Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_tarifas.each do |tipo_tarifa| %>
      <tr>
        <td><%= tipo_tarifa.nombre %></td>
        <td><%= tipo_tarifa.descripcion %></td> <!-- Añadir helper para resumir la descripcion-->
        <td><%= tipo_tarifa.tipo_servicio %></td>
        <td><%= link_to 'Show', tipo_tarifa %></td>
        <td><%= link_to 'Edit', edit_tipo_tarifa_path(tipo_tarifa) %></td>
        <td><%= link_to 'Destroy', tipo_tarifa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo tarifa', new_tipo_tarifa_path %>
