<h1>Listado de servicios contratados</h1>
<%= link_to 'Nuevo servicio contratados', new_servicio_path %> 
<table>
  <tr>
    <th>ServicioId</th>
  </tr>
 
  <% @ss.each do |s| %>
    <tr>
      <td><%= s.id %></td>
      <td><%= link_to 'Ver', s %></td>
      <td><%= link_to 'Editar', edit_servicio_path(s) %></td>
      <td><%= link_to 'Borrar', servicio_path(s),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Volver al inicio', root_path %>
